# Critical required variables

## Bot login token
BOT_TOKEN=

## Bot's application ID
APPLICATION_ID=887037513682812960

## Show only our logs, serenity is noisy
RUST_LOG=discord_compiler_bot

## Bot Prefix
BOT_PREFIX=;

## Bot info links
INVITE_LINK=https://discordapp.com/oauth2/authorize?client_id=887037513682812960&permissions=379968&scope=applications.commands%20bot
DISCORDBOTS_LINK=https://discordbots.org/bot/887037513682812960
GITHUB_LINK=https://github.com/ThomasByr/discord-compiler-bot
STATS_LINK=https://github.com/ThomasByr/discord-compiler-bot

# Optional variables

## If the bot is unable to fetch it's own application info, having this filled in will allow
## the bot to continue
BOT_ID=887037513682812960

## Emojis
SUCCESS_EMOJI_NAME=check_mark
SUCCESS_EMOJI_ID=1014226765863989391
FAIL_EMOJI_NAME=across
FAIL_EMOJI_ID=1014227632461709383
LOADING_EMOJI_NAME=loading
LOADING_EMOJI_ID=983470338417516615
LOGO_EMOJI_NAME=copilot
LOGO_EMOJI_ID=1026534320489377853

## Usage logging
COMPILE_LOG=1014242294918021200
JOIN_LOG=1015605164033445899
PANIC_LOG=1014242354934329474

## Top.gg bot voting announcement
VOTE_CHANNEL=
DBL_TOKEN=
DBL_WEBHOOK_PORT=
DBL_WEBHOOK_PASSWORD=

## Statistics tracking API
STATS_API_LINK=
STATS_API_KEY=
